<div>
  <h2>Employee Information</h2>
  <table
    mat-table
    [dataSource]="dataSourcedata"
    class="mat-elevation-z8 demo-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="Title"
            [value]="element.title"
            [(ngModel)]="element.title"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="User ID"
            [value]="element.userId"
            [(ngModel)]="element.userId"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="Completed"
            [value]="element.completed"
            [(ngModel)]="element.completed"
            (blur)="onBlurEvent($event)"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>


</div>